<% title 'Editing ' + @project.name %>
<div class="row">
  <div class="large-12 columns"><h1>Editing project</h1></div>

  <%= render 'form' %>

  <ul class="admin button-group">
    <% if user_signed_in? && current_user.email == 'logan@themediaside.com' %>
      <li><%= link_to 'Back', projects_path, :class => 'button tiny' %></li>
    <% end %>
  </ul>
</div>
