// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#left-column { padding: 0; }
#main-column { background: url('dark_geometric.png') repeat 0 0; border-left: 1px solid #ccc; }
.admin.button-group { position: fixed; left: 20px; top: 20px; }
.top-bar { position: fixed; right: 20px; top: 20px; background-color: rgba(0, 0, 0, 0.8); background: rgba(0, 0, 0, 0.8); color: rgba(0, 0, 0, 0.8); z-index: 999; }
ul.title-area {
  li.name {
    img { padding: 8px; }
  }
}
#container {
  .item { width: 33.2%; margin-top: 15px;
    .padding { padding: 10px;
      p { font-size: 12px; color: #333; }
      h5 { font-weight: 500; border-bottom: 1px solid #cccccc; }
    }
    .description { background: #333; padding: 5px;
       p { color: #fff; margin: 0; }
    }
  }
}

.profile-overview { position: relative; border-bottom: 1px solid #ccc; width: 100%; background: #e5e5e5;
  .small-3 { padding: 0; }
  h3 { font-weight: 500; }
  img { border: 1px solid #ccc; border-bottom: 0; border-top: 0; }
}

#project {
 .right-column { padding-top: 50px; }
}

ul.category-form-list, ul.tag-form-list { list-style-type: none;
  li { float: left; }
}

.all-projects-wrapper { position: fixed; bottom: 0; width: 100%;
  ul.all-projects { list-style-type: none;  background: #333; width: 100%; padding: 10px; margin: 0;
    li { float: left; max-height: 100px; overflow: hidden; }
  }
}


@media only screen and (max-width: 40em) {
  #project {
    .right-column { padding-top: 10px; }
  }
  #container {
    .item { width: 100%; }
  }

  .admin.button-group { position: fixed; left: auto; top: auto; bottom: 0; width: 100%; padding: 10px 0 !important; background: #333;
    .button { margin: 0; }
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

